@import '../../App';

.login {
    margin-top: 40px;
}

.text {
    font-family: $font-primary;
    margin-top: 40px;
    color: #ced4da;
    a {
        color: red;
        text-decoration: none;
    }
}