@import '../../App.scss';

.input {
    margin-bottom: 30px;
    label {
        font-family: $font-primary;
        font-size: $secundary-title;
        color: white;
    }
    input {
        width: 100%;
        padding: 15px 15px;
        border-radius: 15px;
        font-size: 1em;
        border: none;
        outline: none;
        &:focus {
            outline: 2px solid #fb1;
        }
    }
}