@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

//colors
$primary-color: #343A40;
$secundary-color: #495057;
$tertiary-color: #6C757D;

//font-family
$font-primary: 'Nunito', sans-serif;

//font-sizes
$primary-title: 3em;
$secundary-title: 1.5em;

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}